@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "tables";
@import "sort_handle";

#test-server-warning {
  text-align: center;
  padding: 8px;
  background: #E20009;
  color: white;
  font-weight: bold;

  a {
    color: white;
    text-decoration: underline;
  }
}
