footer {
  background-color: transparent;
  color: $white;
  margin: 0;
  margin-bottom: $spacer;

  .footer-claim {
    font-size: $font-size-sm;
    background-color: $white;
    font-style: italic;
    color: $upb-blue;
    font-weight: bold;
    padding: 5px 0;
  }

  .footer-content {
    font-size: $font-size-sm;
    margin: $spacer/3 0;
  }

  .footer-image {
    text-align: center;
  }
}
