ul.training-course-listing {
  margin: 0;
  padding: 0;
  list-style: none;

  li.training-course-item {
    margin-bottom: $spacer;
    padding-bottom: $spacer;
    border-bottom: 1px solid $gray-200;

    .title {
      font-size: $font-size-lg
    }

    .target-audiences,
    .categories {
      .badge {
        display: inline;
        line-height: 1.75rem;
        white-space: normal;
        margin-bottom: $spacer / 4;
      }
    }
  }
}
