// Fonts
@font-face {
  font-family: "Signika";
  font-style: normal;
  font-weight: 400;
  src: local("Signika"), local("Signika-Regular"), font-url("Signika.woff") format("woff"); }
@font-face {
  font-family: "Signika";
  font-style: normal;
  font-weight: 700;
  src: local("Signika-Bold"), font-url("Signika-Bold.woff") format("woff"); }

// Pick selected variables from Bootstrap and make
// them available in the global space so we can
// reference the original value while overwrite them.
$font-family-sans-serif: null;
%local {
  @import "bootstrap/functions";
  @import "bootstrap/variables";

  $font-family-sans-serif: $font-family-sans-serif !global;
}

$upb-blue: #003671;
$upb-cyan: #18b0e2;

$primary: $upb-cyan;
$body-color: $upb-blue;

$font-family-sans-serif: "Signika", $font-family-sans-serif;

$link-hover-color: $upb-blue;
$link-hover-decoration: none;

$card-border-width: 0;
$card-border-radius: 0;

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$page-background-color: $gray-200;

@import "tools";
@import "layout";
@import "header";
@import "page";
@import "footer";
@import "cards";
@import "badges";
@import "breadcrumb";
@import "training-course";
@import "main_nav";
